* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --gray-500: #878787;
  --gray-800: #717171;
  --green-500: #aeff46;
  --blue-300: #6875da;
  --blue-400: #2c3d9d;
  --blue-500: #2c3d9d;
  --blue-800: #192576;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--blue-800);
}

body,
input,
textarea,
button {
  font: 500 1rem Poppins, sans-serif;
  color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  color: var(--white);
}

p {
  font-size: 25px;
  font-family: Poppins, sans-serif;
  color: var(--white);
}

button {
  cursor: pointer;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--green-500) #ffffff;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--green-500);
  border-radius: 10px;
}
