:root {
  --white: #fff;
  --gray-500: #878787;
  --gray-800: #717171;
  --secondary-500: #DBB007;
  --blue-300: #6875da;
  --blue-400: #2c3d9d;
  --blue-500: #2c3d9d;
  --blue-800: #192576;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: var(--secondary-500) #ffffff;
  color: var(--white);
}

body {
  background-color: var(--blue-800);
  font-family: Poppins, sans-serif;
}

button {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-500);
  border-radius: 10px;
}
