.cover {
  display: flex;
  flex-direction: row;
  height: 80vh;
  background-color: var(--blue-400);

  margin: 32px 68px;
  border-radius: 24px;

  &__presentation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-left: 8vw;

    > div > h1 {
      color: var(--secondary-500);
      font-size: 82px;
      white-space: nowrap;
      font-weight: 700;
      text-transform: uppercase;
    }

    > div > h2 {
      color: var(--secondary-500);
      font-size: 48px;
      font-weight: 400;
      white-space: nowrap;
      margin-top: -35px;
    }

    > p {
      color: var(--white);
      font-size: 20px;
      font-weight: 300;
    }

    > div > button {
      margin-top: 30px;
      width: 250px;
      border-radius: 55px;
      padding: 15px 0px;
      background-color: var(--blue-300);
      color: var(--white);
      font-size: 0.8em;
      border: none;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      text-transform: uppercase;
    }
  }

  &__sideimg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;

    > img {
      height: 90vh;
      position: absolute;
      right: 20;
      top: 20px
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 8vw;
  margin-top: 80px;

  &__skills {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;

    > div > h2 {
      color: var(--white);
      font-size: 4em;
    }

    > div > p {
      margin-top: 30px;
      font-size: 25px;
    }
  }

  &__projects {
    flex: 1;
    display: flex;
    flex-direction: column;

    > h2 {
      color: var(--white);
      font-size: 4em;
    }

    > p {
      margin-top: 30px;
      font-size: 25px;
    }

    &__filters {
      margin-top: 30px;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      gap: 18px;
    }

    small {
      margin-top: 20px;
    }

    &__showcase {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 100px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .cover {
    margin: 0;

    div > h1 {
      font-size: 5.5em;
    }

    div > h2 {
      font-size: 5em;
      margin-top: -60px;
    }

    & > div:nth-child(2) {
      display: none;
    }
  }

  .container {
    &__skills {
      display: flex;
      flex-direction: column;
      gap: 30px;

      > div > h2 {
        color: var(--white);
        font-size: 3em;
        margin-bottom: 30px;
      }

      > div > p {
        margin-top: 30px;
        font-size: 20px;
      }
    }

    &__filters {
      justify-content: center;
    }
  }
}
