.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;

  > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--blue-500);
    border: 1px solid var(--blue-300);
    border-radius: 6px;

    > input {
      flex: 2;
      background-color: var(--blue-500);
      border: none;
      outline: var(--blue-300);
      padding: 10px;
    }

    > input[type='color'] {
      flex: 0.1;
      border-right: 1px solid var(--blue-300);
      border-radius: 6px 0 0 6px;
      height: 100%;
      padding: 5px;
    }
  }
}
