.container {
  flex: 1;
  flex-direction: column;
  display: flex;
  margin: 0 8vw;
}

.homeMainContainer {
  min-height: 100vh;
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 8em;
    line-height: -5px;
  }

  h3 {
    margin-top: -80px;
    font-size: 6.5em;
    color: #6875da;
  }
}

.skillsContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 100vh;

  > div {
    display: flex;
    flex-direction: column;
    width: 50%;

    h2 {
      margin-bottom: 85px;
    }
  }

  aside {
    margin-top: 50px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 60px;

    div {
      width: 100%;
    }
  }
}

.projectsContainer {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;

  .filters {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  small {
    margin-top: 20px;
  }

  .showcase {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}
