@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 240 7% 11%;
    --background-foreground: 257 64% 98%;
    --foreground: 240 7% 11%;

    --primary: 220 50% 44%;
    --primary-foreground: 0 0% 100%;

    /* --secondary: 225 72.7% 90.2%; */
    --secondary-foreground: 222 44% 14%;

    --destructive: 0 74% 41%;
    --destructive-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 240 7% 11%;

    --muted: 250 20% 89%;
    --muted-foreground: 240 10% 52%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --border: 240 5.9% 90%;
    --input: 250 20% 89%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --background-foreground: 0 0% 0%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
