.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
  margin: 0 5vw;
}

.mainContainer {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mainContainer>div {
  color: #ffffff;
}

.firstName {
  font-size: 8em;
  line-height: -5px;
}

.lastName {
  margin-top: -30px;
  font-size: 6.5em;
  color: #6875DA;
}